.hello {
    color: red;
    /*background: url('./pic.png');*/
    font-family: 'MyFont';
}

@font-face {
    font-family: 'MyFont';
    src: url('./gly2.woff2') format('woff2'), url('./gly1.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}